root = true

[*.rs]
indent_style = space
indent_size = 4
max_line_length = 80

[*.o2]
max_line_length = 80

[Makefile]
indent_style = tab
indent_size = 4
max_line_length = 0

[*.md]
max_line_length = 0
